*{
  box-sizing: border-box;
}
#root{
  width: 100%;
}
body{
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image: url('../../images/newBackgroundScreen.png');
    background-size: cover;
    background-position: center;
  }
  